[Unit]
Description=The main player service. Reproduces music via jack and bluetooth simultaneously.

[Service]
ExecStart=/path/to/main.sh
Environment=SM_DIR=/path/to/

[Install]
WantedBy=default.target
